<section class="hero">
  <div class="hero__container">
    <div class="hero__message">
      <h1 class="hero-title">
        STORENEW - 16-01-2024
      </h1>

      <p class="subtitle">
        Dave JC STORE
      </p>
    </div>
  </div>
</section>
